@font-face {font-family: 'quizma';src: url('../font/Quizma_Light_Demo.otf');}

a:link {color:#ddd;}
a:visited {color:#666;}

input[type=submit]{
    font-family: 'quizma';
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    background-color: transparent;
    width: 50px;
}

input[type=form]{
    font-family: 'quizma';
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    background-color: transparent;
    width: 50px;
    height: 18px;
}

#everything{
  width: 100%;
  background: #000;
  color: white;
  position: relative;
  text-align: center;
  margin-left: 0 auto;
  margin-right: 0 auto;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  border: 1px solid;
  display: table;
  clear: both;
  font-family: quizma;
}

#help{
  width: 80%;
  position: relative;
  text-align: left;
  margin: auto;
  padding: 50px;
  margin-top: 0px;
  border: 1px solid;
  display: table;
  clear: both;
}

#program{
  box-sizing:border-box;
  display: block;
  border-top: 1px solid;
  width: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  text-align: left;
  padding-left: 15px;
}

#registers{
  overflow-x: hidden;
  box-sizing:border-box;
  display: block-inline;
  width: 40%;
  border-top: 1px solid;
  padding-top: 10px;
  float: left;
}

#instructions{
  width: 100%;
  float: left;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#history{
  width: 100%;
  float: left;
  text-align: left;
  padding-left: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#memstack{
  box-sizing: border-box;
  width: 40%;
  float: right;
}

#memory{
  width: 50%;
  float: left;
  text-align: center;
  border-top: 1px solid;
  padding-top: 10px;
}

#stack{
  width: 50%;
  text-align: center;
  float: right;
  border-top: 1px solid;
  padding-top: 10px;
}

#levels{
  width: 100%;
  bottom: 0px;
  color:white;
  padding-top: 5px;
  padding-bottom: 5px;
/*  border: 1px solid;*/  
  margin-left: -1px;
  position:relative;
  margin: auto;
  text-align: center;
}

#stackdata{
  width: 70px;
  display: inline-block;
  font-family: 'monospace';
}

#programdata{
  width: 70px;
  display: inline-block;
  font-family: 'monospace';
}

#stacklen{
  display: inline-block;
}

#memdata{
  width: 70px;
  display: inline-block;
  font-family: 'monospace';
}

#regdata{
  display: inline-block;
  font-family: 'monospace';
}

#histdata{
  display: inline-block;
  font-family: 'monospace';
}

#flagdata{
  display: inline-block;
  font-family: 'monospace';
}

#goal{
  display: inline-block;
}

#levelno{
  display: inline-block;
}

#progstatus{
  display: inline-block;
}

#instruction{
  display: inline-block;
  width: 35%;
}

#inputtxt{
  display: inline-block;
}