@font-face {font-family: 'quizma';src: url('../font/Quizma_Light_Demo.otf');}

#everything{
  width: 100%;
  background: #AAA;
  position: relative;
  text-align: center;
  margin-left: 0 auto;
  margin-right: 0 auto;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  border: 1px solid;
  display: table;
  clear: both;
  font-family: quizma;
}

#help{
  width: 80%;
  background: #AAA;
  position: relative;
  text-align: left;
  margin: auto;
  padding: 50px;
  margin-top: 0px;
  border: 1px solid;
  display: table;
  clear: both;
}

#program{
  box-sizing:border-box;
  display: block;
  border-top: 1px solid;
  width: 20%;
  background: #AAA;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  text-align: left;
  padding-left: 15px;
}

#registers{
  overflow-x: hidden;
  box-sizing:border-box;
  display: block-inline;
  width: 40%;
  background: #AAA;
  border-top: 1px solid;
  padding-top: 10px;
  float: left;
}

#instructions{
  width: 100%;
  background: #CCC;
  float: left;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#history{
  width: 100%;
  background: #CCC;  
  float: left;
  text-align: left;
  padding-left: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#memstack{
  box-sizing: border-box;
  width: 40%;
  float: right;
}

#memory{
  width: 50%;
  background: #AAA;
  float: left;
  text-align: center;
  border-top: 1px solid;
  padding-top: 10px;
}

#stack{
  width: 50%;
  background: #AAA;
  text-align: center;
  float: right;
  border-top: 1px solid;
  padding-top: 10px;
}

#levels{
  width: 100%;
  background: #888;
  bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid;
  margin-left: -1px;
  position:relative;
  margin: auto;
  text-align: center;
}

#stackdata{
  display: inline-block;
}

#programdata{
  display: inline-block;
}

#stacklen{
  display: inline-block;
}

#memdata{
  display: inline-block;
}

#regdata{
  display: inline-block;
}

#histdata{
  display: inline-block;
}

#flagdata{
  display: inline-block;
}

#goal{
  display: inline-block;
}

#levelno{
  display: inline-block;
}

#progstatus{
  display: inline-block;
}

#instruction{
  display: inline-block;
  width: 50%;
}

#inputtxt{
  display: inline-block;
}